<!DOCTYPE html>
<html>
<head>

    <title>SafePath AI</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-black text-white
             flex items-center
             justify-center h-screen">

<div class="text-center">

    <h1 class="text-6xl font-bold">
        SafePath AI
    </h1>

    <p class="mt-5 text-gray-400 text-xl">
        Smart Women Safety Navigation System
    </p>

    <a href="/dashboard/">

        <button class="mt-10
                       bg-pink-500
                       px-8 py-4
                       rounded-xl
                       text-xl">

            Enter Dashboard

        </button>

    </a>

</div>

</body>
</html>